/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require error
 *= require bootstrap_and_overrides
 */

.user_info{
  text-align: right;
  font-weight: bold;
  font-size: 10pt;
  color: #3725A8;
  width: 100%;
}

.examination_words_list {
  text-align: left;
  font-weight: bold;
  background-color: #ff0000; 
  font-size: 10.5pt;
  color: #3725A8;
  width: 400px;
  height: 100px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #333333;
  -webkit-border-radius: 10px;/* Safari、Google Chrome */
  -moz-border-radius: 10px;/* Firefox */

}
.answer_words_list {
  text-align: left;
  font-weight: bold;
  font-size: 11pt;
  color: #3725A8;
  width: 400px;
  height: 100px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #333333;
  -webkit-border-radius: 10px;/* Safari、Google Chrome */
  -moz-border-radius: 10px;/* Firefox */

}



